{% extends "_base.html" %} 
{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Competitions</h1>
	</div>
</div>
<div class="container">

    <div class="row" id="content"　style="text-align:center">
            <div class="loading" style="width:100%;height:500px;line-height:500px;text-align:center"><h1>Loading.........</h1></div>
    </div>

</div>




{% endblock %}
{% block scripts %}
<script src="{{request.script_root}}/plugins/competitions/assets/js/compets.js"></script>
{% endblock %}